{% load static %}
<!DOCTYPE html>

<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- documentation at http://getbootstrap.com/docs/4.1/, alternative themes at https://bootswatch.com/ -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Macondo' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Marcellus SC' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Uncial Antiqua' rel='stylesheet'>
        <link href="{% static 'css/styles.css' %}" rel="stylesheet">

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        <script>
            function rollDice(max) {
                return 1 + Math.floor(Math.random() * max)
            }
            function popRoll(dicenum, dicetype) {
                for (let i = 0; i < dicenum; i++){
                    rollDice(dicetype)
                }
            }
        </script>

        <title>D&D CC: {% block title %}{% endblock %}</title>

    </head>

    <body>

        <nav class="navbar navbar-expand-md navbar-light bg-light border">

            <a class="navbar-brand"><span>D&D Combat Companion</span></a>

            <button class="navbar-toggler" data-target="#navbar" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbar" role="navigation">
                {% if request.session.charid %}
                    <ul class="navbar-nav ml-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="{% url 'ccindex' %}">Change Character</a></li>
                        {% block nav %}{% endblock %}
                        <li class="btn-group" role="group" aria-label="Button group with nested dropdown">
                            <button id="rollclick" class="btn btn-secondary" data-toggle="modal" data-target="#rollDiceModal">
                                Roll:</button>
                            <select id="roll" class="btn"  style="background-color: lightgrey; border-style: none;">
                                <option value="20">d20</option>
                                <option value="12">d12</option>
                                <option value="10">d10</option>
                                <option value="8">d8</option>
                                <option value="6">d6</option>
                                <option value="4">d4</option>
                            </select>
                        </li>
                    </ul>
                {% endif %}
                {% if not request.session.playerid %}
                    <ul class="navbar-nav ml-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="{% url 'ccregister' %}">Register</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'cclogin' %}">Log In</a></li>
                    </ul>
                {% else %}
                    <ul class="navbar-nav ml-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="{% url 'cclogout' %}">Log Out</a></li>
                        <li><h2 class="nav-username">{{ request.session.username }}</h2></li>
                    </ul>
                {% endif %}
            </div>
        </nav>

        <script>

            document.getElementById("rollclick").onclick = function(){
                var d = document.getElementById("roll").value;
                document.getElementById("result").innerHTML = rollDice(d);
                }
    
        </script>
    
        <div class="modal fade bd-example-modal-sm" id="rollDiceModal" tabindex="-1" role="dialog" aria-labelledby="DiceRoll" aria-hidden="true">
          <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="DiceRoll">You rolled:</h5>
              </div>
              <div class="modal-body" id="result">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

        {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                <a href="#" class="close" data-dismiss="alert">&times;</a>
                <h4>{{ message }}</h4>
            </div>
        {% endfor %}
        {% endif %}

        <main class="container">
            {% block main %}{% endblock %}
        </main>

    </body>

</html>